body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size : 50px;
  }
  
  .square {
    background: #fff;
    border: 5px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width : 200px;
    height : 200px;
    position : relative;
    left : 600px;
    top : 180px;
    color : black;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  @media only screen and (min-width : 414px) {
   
    .square{
      position : relative;
      top : 50px;
      left : 175px;
     font-size: 50px;
     }
   .board-row {
    position : relative;
    top  : 10px;
    left : 50px;
   }

  .game > game-board {
    position : relative;
    top  : 250px;
    left : 0px;
    right : 5px;
    bottom : 50px;
   }
  }
 
  body {
    position : relative;
    top  : 165px;
    left : 0px;
    right : 5px;
    bottom : 100px;
  }

  .status {
    position : relative;  
    bottom : 200px;
    font-size : 100px;
  }

  @media only screen and (min-width : 768px) {
   
    .square{
      position : relative;
      top : 50px;
      left : 175px;
     }
    .board-row {
      position : relative;
     top : 250px;
     left : 10px;
     right : 100px;
    }
    
  .status {
    position : relative;  
    bottom : 2px;
    font-size : 100px;
    top : 10px;
  }
  
  body {
    position : relative;
    bottom : 0px;
    top  : 0px;
    left : 0px;
    right : 5px;
  }
   }

   
  @media only screen and (min-width : 1000px) {
     
  .status {
    position : absolute;  
    bottom : 2px;
    font-size : 100px;
    top : 15px;
    left : 0px;
    right : 750px;
  }
  
  body {
    position : relative;
    top  : 0px;
    left : 0px;
    right : 5px;
  }

  .square{
    position : relative;
    top : 5px;
    left : 700px;
   }
      
   }
  